<!-- Begin page -->
<div id="wrapper">


  <!-- Start right Content here -->

  <div class="content-page">
      <!-- Start content -->
      <div class="content">


          <div class="page-content-wrapper ">

              <div class="container-fluid">

                  <div class="row">
                      <div class="col-12">
                          <div class="card m-b-30">
                              <div class="card-body">

                                  <h4 class="mt-0 header-title">Jquery Knob</h4>
                                  <p class="text-muted m-b-30 font-14">Nice, downward compatible, touchable, jQuery dial</p>

                                  <div class="row text-center">
                                      <div class="col-lg-4 text-center">
                                          <h5 class="font-16 m-b-20">Display previous value</h5>
                                          <input class="knob" data-width="150" data-min="-100" data-fgcolor="#0097a7" data-displayprevious="true" value="4">
                                      </div>
                                  </div>


                              </div>
                          </div>
                      </div> <!-- end col -->
                  </div> <!-- end row -->

              </div><!-- container -->


          </div> <!-- Page content Wrapper -->

      </div> <!-- content -->


  </div>
  <!-- End Right content here -->

</div>
<!-- END wrapper -->